*{
    padding: 0%;
    margin: 0%;
}
#headbox {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #1a4799;
}
#heading {
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#classapps { 
    height: 120 px;
    width: 1000;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin : 7px 2px 4px 2px ;
    flex-wrap: wrap;
}

.classapp {
    height: 105px;
    width: 205px;
    border-color: black;
    border-radius: 10%;
    border-width: 10px;

}
#maths {
    background-size: cover;
}

#notes{
    background-color: #ad4cf1;
    color: black;
}
#books{
    background-color: #f884f8;
}
#otherresources{
    background-color: #6a50df;
}
.tabs {
    height: 450px;
    width: 30vw;
    text-align: center ;
}
#tabgroup {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 1vw;
    margin: 5px 0px 5px 0px ;
}
body {
    background-image: url(back.webp);
    background-size: cover;
}
.notestext{
    color: black;
    text-decoration: none;
}

@media (max-width:1200px) {
    #classapps {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .classapp {
        height: 90px;
        width: 180px;
    }
    img {
        height: 90px;
        width: 180px;
    }
    #tabgroup {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tabs {
    height: 40vh;
    width: 80vw;
    text-align: center ;
    }
    .newline {
        display: block;
    }
}